<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://opentech.durhamcollege.org/webd3201/bellmank/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/_alert.scss" rel="stylesheet">
    <link href="../css/_utilities.scss" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light sticky-top flex-md-nowrap p-0 border-bottom border-secondary">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-dark " href="../index.php"><object style="opacity:0.5; z-index:-2;" data="../images/cpu.svg" width="20" height="20" class="d-inline-block align-top"> </object>WEBD 3201</a>>WEBD 3201</a>
</nav>
<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"  >
        <h2 id="overview" style>Password Request</h2>
    </div>
    <h4 class="bd-lead">Hello John Doe,</h4>
    <p>our records show that you have requested a password reset for your account at WEBD 3201 on Tuesday, November 15, 2021.</p>
    <p>We have set your password to <em>e73j56o$k33&</em></p>
    <p>Use this password to access our site and click on the "Change Password" link to change your poassword to something else.</p>
    <p>To sign in with your new password click the <em>Sign-in</em> link below:</p>
    <p><a href="http://opentech.durhamcollege.org/webd3201/bellmank/sign-in.php">Sign-in</a> </p>
    <p class="bd-lead">Kind regards, WEBD 3201 Team</p>
</main>
<footer>
    <p class="mt-5 mb-3 text-muted text-left">If you did not send this request, you are encouraged to let the <a href="mailto: admin@WEBD3201.com">WEBD 3201</a> team know.</p>
    <p class="mt-5 mb-3 text-muted text-right">&copy;2021</p>
</footer>
</body>
</html>